@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;
    padding: 24px 10% 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    padding: 14px 32px;
    border-radius: 28px;
    background-color: #13183F;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    width: 167px;
    height: 56px;
    border: none;
    cursor: pointer;
}